
/*Styling heading tag*/
    h1{
      color: rgb(4, 4, 33);
    }
/*Styling Body tag*/
    body {
      font-family: Arial, sans-serif;
      background-color: #da275d;
      text-align: center;
      padding-top: 40px;
    }
/*Styling input button*/
    input, button {
      margin: 10px;
      padding: 10px;
      font-size: 16px;
    }

    input:focus {
      border: 2px solid rgb(248, 193, 13);
    }

    button {
      background-color: rgb(115, 202, 44);
      color: rgba(255, 255, 255, 0.938);
      border: none;
    }

    button:hover {
      background-color: rgb(16, 41, 5);
    }
/*Styling output result*/
    #totalAmount {
      font-weight: bold;
      font-size: large;
      margin-top: 20px;
      color: rgb(83, 18, 54);
    }
  